.LineItem {
    width: 100%;
    display: grid;
    grid-template-columns: 8vw 16.35vw 3.75vw 5.25vw;
    padding: 1vmin 0;
    color: black;
    background-color: var(--white);
    border-top: 0.1vmin solid var(--tan-3);
    font-size: 1.5vw;
  }
  
  .LineItem:last-child {
    border-bottom: 0.1vmin solid var(--tan-3);
  }
  
  .LineItem .qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
  }
  
  .LineItem .extPrice {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5vw;
  }
  
  .LineItem .button {
    padding: 1px 5px;
    background-color: #648565;
    color: #fff;
    border: 2px solid #648565;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin: 0 10px 0 20px;
   
  }
  .LineItem .button:hover{
    background-color: #27ae60;
  }
  .LineItem .itemName {
    font-size: 1.6vw;
    
  }