.LineItem {
    width: 100%;
    display: grid;
    grid-template-columns: 3vw 15.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--text-light);
    background-color: var(--white);
    border-top: 0.1vmin solid var(--tan-3);
    font-size: 1.5vw;
  }
  
  .LineItem:last-child {
    border-bottom: 0.1vmin solid var(--tan-3);
  }
  
  .LineItem .qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
  }
  
  .LineItem .extPrice {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3vw;
  }
  
  .LineItem .button {
    padding: 1px 3px;
    background-color: #94d3ae;
    color: #fff;
    border: 2px solid #94d3ae;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin: 0 30px;
  }
  .LineItem .button :hover{
    background-color: #27ae60;
  }
  .LineItem .itemName {
    font-size: 1.6vw;
    
  }