/* :root {
  --base-color: rgb(224, 220, 208);
  --red: rgb(199, 9, 9);
  --green: rgb(33, 88, 33);
  --golden: rgb(173, 131, 2s--black: black;
  --text-light: #FFFFFF;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   } */
.form-container {
  display: flex;
  margin: auto;
  width: 800px;
  height: 400px;
  box-shadow: 4px 4px 4px #014670;
  background-color: var(--base-color);
  /* background-color: #EAEAEA; */
  /* border-radius: 2vmin; */
}
.SignUp input, .SignUp button {
width: 80%;
height: 35px;
margin-top: 25px;
padding-left: 8px;
box-sizing: border-box;
outline: none;
border:1px solid #014670;
color: #014670;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-container button {
padding: 0;
font-size: 15px;
background-color: white;
}
.form-container button:hover, input:hover {
box-shadow: 3px 3px 3px rgba(1,70,112,.5);
}