/* :root {
    --base-color: rgb(224, 220, 208);
    --red: rgb(199, 9, 9);
    --green: rgb(33, 88, 33);
    --golden: rgb(173, 131, 26);
    --black: black;
    --text-light: #ffffff; 
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
     } */

.Login .form-container {
    display: flex;
    margin: auto;
    width: 100px;
    height: 1000px;
    box-shadow: 4px 4px 4px #014670;
    background-color: var(--base-color);
    /* background-color: #eaeaea; */
    border-radius: 2vmin;
  }
.Login input, .Login button {
	width: 20%;
	height: 35px;
	margin-top: 25px;
	padding-left: 8px;
	box-sizing: border-box;
	outline: none;
	border:1px solid #014670;
	color: #014670;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Login .input {
  width: 20%; 
  max-width: 300px; 
}
.Login .form-container .Login button {
	padding: 0;
	background-color: white;
  color: #014670;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Login .form-container button:hover input:hover {
	box-shadow: 3px 3px 3px rgba(1,70,112,.5);
}