/* :root {
    --base-color: rgb(224, 220, 208);
    --red: rgb(199, 9, 9);
    --green: rgb(33, 88, 33);
    --golden: rgb(173, 131, 26);
    --black: black;
    --text-light: #ffffff; 
    
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.Auth body {
      background: var(--base-color); 
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100%;
 }
  
 .login-form, .signup-form {
  width: 300px; /* Example fixed width, adjust as needed */
  margin: auto; /* This will center the form if the parent container is flex */
}

.login, .signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  }
  
.content {
  padding-top:0px;
  margin-top:0px;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  width: 80%; 
  max-width: 700px;
  padding: 10px;
  box-shadow: 3px 3px 3px 4px #014670;
  margin: auto;
  }

.login, .img {
  display: flex;
  flex-basis: auto;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.login {
    flex: 0 0 auto; 
    width: 300px; 
  }

.header h1{
    margin-top: 50px;
    margin-bottom: 30px;
    color: #014670;
    font-size: 35px;
  }
  
.main button {
    padding: 0;
    font-size: 15px;
    background-color: white;
  }
  
.main button:hover, input:hover {
    box-shadow: 3px 3px 3px 3px rgba(1,70,112,.5);
  }
  

.main a {
    display: block;
    font-size: 13px; 
    text-align: right;
    margin: 10px 32px;
    color: #014670;
  }

.input {
    width: 20%; 
    max-width: 300px;
    font-size: "15px";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: "2px";
  }

.img {
  flex-basis: 300px;
    flex-shrink: 1; 
    max-width: 300px;
    width: 300px; 
    max-width: 100%;
    flex-grow:0;
    order: 1;
    background-image: url(bg1.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #eee;
    margin-left: 20px;
    padding-left: 10px;
  }
  
  @media (max-width: 600px) {
    .login, .img {
        width: auto; 
        max-width: 100%; 
    }
}


.img span {
    margin: auto;
  }
  
.img span h1 {
    font-size: 50px;
    text-shadow: 0 0 10px #014670;
    
  }
  
.Auth .img span p {
    font-size: 15px;
  }