.OrderDetail {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3vmin;
    font-size: 2vmin;
    color: black;
  }
  
  .OrderDetail .sectionHeading {
    width: 100%;
  }
  
  .OrderDetail .lineItemContainer {
    margin-top: 3vmin;
    justify-content: flex-start;
    height: calc(100vh - 18vmin);
    width: 100%;
  }
  
  .OrderDetail .total {
    width: 100%;
    display: grid;
    grid-template-columns: 11.35vw 8.25vw 8.25vw;
    padding: 1vmin 0;
    color: black;
    border-top: 0.1vmin solid var(--tan-3);
  }
  
  .OrderDetail .total span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: var(--text-dark);
  }
  
  .OrderDetail .total span.right {
    display: flex;
    justify-content: flex-end;
  }
  
  .OrderDetail .hungry {
    position: absolute;
    top: 50vh;
    font-size: 8vmin;
  }

  .OrderDetail .button {
    padding: 8px 16px;
  background-color: #e74c3c; /* Red background color */
  color: #fff; /* White text color */
  border: 2px solid #e74c3c; /* Red border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  margin: 10px;
  }

  .OrderDetail .button:hover{
    background-color: #c0392b; 
  }