.img{
     width:100%;
    height:auto;
}

.group {
    font-family:'Gill Sans MT';
    padding: 5% 10% 10% 10%;
}

.p { 
    text-align: center;
    line-height: 2;
    padding-top: 5%;
}

.h2 {
    text-align: center;
    margin-top: 2em;
}
