.CategoryMenu{
     background-color: var(--base-color);
     height: 69vh;
     text-align: center;
     list-style: none;
}

.CategoryMenu a{text-decoration: none;
font-size: 30px;
color: var(--base-color);}

.CategoryMenu li{
    margin: 30px auto;
    color: black;
    background-color: var(--red);
    border-radius: 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 380px;
}

.CategoryMenu ul{
   flex:1;
}

.CategoryMenu li:hover{
    color: black;
    background-color: var(--golden);
    padding: 5px;
}