nav{
    background: url("https://res.cloudinary.com/dxh60x8dq/image/upload/v1709171777/Ramen%20Time%20Images/image_hvgccx.png");
    width: 100%;
    height: 220px;
    background-size:cover;
    display:flex;
    opacity:100%;
    align-items: center; /* Center vertically */
    justify-content: flex-end; /* Center horizontally and create space between items */
    position: sticky;
}

.links1{
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border-radius: 30px;
}

.links2{
    order:1;
    border-radius: 2vmin;
}

.links3 {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    order:-1;
}

.links4{
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    order: 1;
}

.links4 :hover{
    background-color:var(--red);
  }

.links5{
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    order:-1;
}

.links6{
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.helloDiv{
    position:absolute;
    top: 20px;
    /* background-color:rgba(6, 6, 6) ; */
    color: white;
    align-self: flex-start;
    order: -2;
    font-size: 35px;
    font-weight: 500;
    margin: 0 30px;
}

.logo {
    text-align: center;
    text-decoration: none;
    font-weight: 500;  
    border-radius: 1px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    order: -1;
}

.links1, .links3, .links4, .links5, .links6, .logo{
    padding: 12px 15px; 
    border-radius: 30px;
    margin-right: 20px;
    background-color: var(--red);
    color: var(--base-color);
}

.links1:hover, .links3:hover, .links4:hover, .links5:hover, .links6:hover, .logo:hover{
   padding: 17px 20px;
}