.Footer {
  background-color: white;
  font-family: 'Gill Sans MT';
}
.horizontalList {
  display: flex;
  justify-content: space-around;
  padding:1%;
  font-size: 20px;
}
.listContainer {
  align-items: center;
  text-align: center;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}