.Footer {
  background-color: rgb(224, 220, 208); 
  font-family: 'Gill Sans MT';
  padding: 1em;
  margin: 2% 2% 2% 2%;
  list-style: none;
  border: solid black 1px;

}

.listContainer {
  align-items: center;
  text-align: center;
}

ul li {
  list-style: none;
  line-height: 2;
}

.storeName {
  text-align: center;
}

a {
  text-decoration: none;
}